<div class="page-header">
	<h1>All statuses</h1>
</div>
<div class="row">
	<div class="span12">
		<% @statuses.each do |status| %>
			<div class="status">
				<div class="row">
					<div class="span1">
						<a href="/<%= status.user.profile_name %>">
							<%= image_tag status.user.gravatar_url, class: 'img-circle' %>
						</a>
					</div>
					<div class="span7">
						<a href="/<%= status.user.profile_name %>"><strong><%= status.user.full_name %></strong></a>
						<p class="lead"><%= status.content %></p>
						<div class="meta">
							<%= link_to time_ago_in_words(status.created_at) + " ago", status %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>