
<div class="row">
	<div class="span6">
		<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: ""}) do |f| %>

			<fieldset class="hero-unit">
				<h1>Log in</h1>
				<p>Welcome back, we missed you.</p>

				<%= f.input :email %>
				<%= f.input :password %>

				<div class="controls">
					<% if devise_mapping.rememberable? -%>
						<label class="checkbox">
							<%= f.check_box :remember_me %> Remember me
						</label>
					<% end -%>

					<%= f.button :submit, "Sign in" %>
				</div>

			</fieldset>

		<% end %>

	</div>
	<div class="span4 offset1">
		<div>
			<h2>New here?</h2>
			<p class="muted">It's free to create your own account.</p>
			<%= link_to "Create account", register_path, class: 'btn' %>
		</div>

		<div style="margin-top: 40px">
			<h2>Forgotten your password?</h2>
			<p class="muted">Don't worry, it's easy to get it changed.</p>
			<%= link_to "Reset password", new_password_path(resource_name), class: 'btn' %>
		</div>
	</div>
</div>